<h1>Ajouter un apprentissage critique</h1>
{{ form_start(acForm) }}
    {{ form_row(acForm.nom) }}
    {{ form_row(acForm.competence) }}
    {{ form_row(acForm.niveau) }}
    <button type="submit" class="btn">Ajouter l'Ac</button>
{{ form_end(acForm) }}