<h1>Ajouter un apprentissage critique</h1>
{{ form_start(Ac) }}
    {{ form_row(Ac.nom) }}
    {{ form_row(Ac.competence) }}
    {{ form_row(Ac.niveau) }}
    <button type="submit" class="btn">Ajouter l'AC</button>
{{ form_end(Ac) }}