<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symfolio - Accueil</title>
    {# <link rel="stylesheet" href="../../public/css/accueil.css"> #}
     <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
</head>

<body>
    <header>
        <h3>Symfolio</h3>
        <a href="{{ url('app_login', {'role': 'etudiant'}) }}">Connexion</a>
    </header>

    <main>
        <section>
            <article>
                <h4>Description de la formation</h4>
                <p>YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI
                    <img src="{{ asset('images/mmi 1.png') }}" alt="Logo MMI"> YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI </p>
               
            </article>

            <article>
                <h4>Les 5 compétences de la formation</h4>
                <p>YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI YANI </p>
            </article>
        </section>

        <section>
            <h5>Tous les Portfolios</h3>
                {% for projet in projets %}
                    <h3>{{ projet.nom }}</h3>
                    <h4>Date de création du projet {{ projet.datepubli |date('d-m-Y') }}</h4>
                    <img src={{ asset(projet.image) }} alt="Image du projet">
                    <p>Tags : {{ tag }}</p>
                    <p>Description : {{ projet.description }}</p>
                    <h3>Commentaires</h3>
                        <ul>
                            {% set break = false %}
                            {% for note in notes %}
                                {% if break == false %}
                                    {% if note.idProjet.id != projet.id %}
                                        <p>Ce projet n'a reçu aucun commentaire</p>
                                        {% set break = true %}
                                    {% else %}
                                    
                                        <li>{{ note.idUser.email }} : {{note.commentaire}}, {{ note.note }}/20</li>
                                
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                {% endfor %}
        </section>

    </main>
    <footer><span>ALEXANDRE</span></footer>
</body>

</html>