<!DOCTYPE html>
<html lang="en">


<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Portfolio</title>
   <link rel="stylesheet" href="{{ asset('css/pf.css') }}">
  <link rel="stylesheet" href="{{ asset('css/burger.css') }}">
  <link rel="stylesheet" href="{{ asset('css/button.css') }}">
  <script src="{{ asset('js/menu_mobile.js')}}"></script>
   <!-- <link rel="stylesheet" href="{{ asset('css/accueil.css') }}"> -->
</head>


<body>
   <header>
       <nav>
        <a href="{{ url('projets') }}" class="home"><lord-icon
            src="https://cdn.lordicon.com/slduhdil.json"
            trigger="hover"
            colors="primary:#f5f5f5"
            colors="primary:#121331"
            state="hover-2"
            style="width:30px;height:30px">
        </lord-icon></a>

        <div>
            <h1>administrateurs</h1>
        </div>

        <ul id="menu_deroulant">
            <li><a href="#" class="arrow"><lord-icon
                src="https://cdn.lordicon.com/jxwksgwv.json"
                trigger="hover"
                colors="primary:#f5f5f5"
                state="hover-3"
                target=".arrow"
                style="width:25px;height:25px">
            </lord-icon>Se connecter</a></li>
            <li><a href="#" class="page"><lord-icon
                src="https://cdn.lordicon.com/ogkplaef.json"
                trigger="hover"
                colors="primary:#f5f5f5"
                target=".page"
                style="width:25px;height:25px">
            </lord-icon>Mon portfolio</a></li>
            <li><a href="#" class="book"><lord-icon
                src="https://cdn.lordicon.com/qvbrkejx.json"
                trigger="morph"
                colors="primary:#f5f5f5"
                target=".book"
                style="width:25px;height:25px">
            </lord-icon>Fil d'actualité</a></li>
        </ul>
    
           <div class="menu_burger" id="menu_burger"></div>
  
       </nav>
   </header>


  
  
   <main>
       <section>
        {{ form_start(projForm) }}
           <article class="porfolio">
                <h4>Nom du portfolio :</h4>
                <br/>
                {{ form_row(projForm.nom) }}
                
               <h4>Visuel de votre Portfolio:</h4>
               <div id="bg-img-fp">
                   <img id="image-preview">
               </div>
               <div id="centerfile">
                    {{ form_row(projForm.image) }}
                   {# <label for="file-input" class="custom-file-button">Ajout d'une photo</label> #}
               </div>
               </article>


           <article>
               <h4>Commentaire:</h4>
               {{ form_row(projForm.description) }}


           </article>
                    
            <article>
                <h4>tags :</h4>

                {{ form_row(projForm.tag) }}   
            </article>
            <h4>date de publication :</h4>
            {{ form_row(projForm.date_publi) }}

            <article>
                
            </article>
           <article>


               <h4>Apprentissages critiques concernés:</h4>

            <div class="first">
                {{ form_row(projForm.idAc) }}
            </div>

            <!-- <div class="second">
               <input type="checkbox" name="AC5" id="">
               <label for="ac">AC 5</label>
        
               <input type="checkbox" name="AC6" id="">
               <label for="ac">AC 6</label>
        
               <input type="checkbox" name="AC7" id="">
               <label for="ac">AC 7</label>
        
               <input type="checkbox" name="AC8" id="">
               <label for="ac">AC 8</label>
            </div> -->

           </article>

           <article>


               <h4>Auto-critique:</h4>
               <input type="textarea" placeholder="Ajouter un commentaire à votre publication"></input>


           </article>


           <section>
            <button type="submit" class="btn">Créer le projet</button>
        </section>
        {{ form_end(projForm) }}
       </section>
   </main>
   <footer><span>Footer</span></footer>


   
</body>


</html>