<h1>Ajouter un projet</h1>

<!DOCTYPE html>
<html lang="en">


<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Portfolio</title>
   <link rel="stylesheet" href="./css/pf.css">
   <link rel="stylesheet" href="./css/burger.css">
   <link rel="stylesheet" href="./css/button.css">
  <link rel="stylesheet" href="{{ asset('css/pf.css') }}">
  <link rel="stylesheet" href="{{ asset('css/burger.css') }}">
  <link rel="stylesheet" href="{{ asset('css/button.css') }}">
</head>

{{ form_start(projForm) }}
    {{ form_row(projForm.nom) }}
    {{ form_row(projForm.description) }}
    {{ form_row(projForm.image) }}
    {{ form_row(projForm.tag) }}
    {{ form_row(projForm.date_publi) }}
    {{ form_row(projForm.idAc) }}
    <button type="submit" class="btn">Créer le projet</button>
{{ form_end(projForm) }}