<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
    <link rel="stylesheet" href="{{ asset('css/burger.css') }}">
    <script src="{{ asset('js/menumobile.js') }}"></script>
    <title>Symfolio - Profil</title>
</head>
<body>
    <header>
        <nav>

            <a href="{{ url('projets') }}" class="home"><lord-icon
                src="https://cdn.lordicon.com/slduhdil.json"
                trigger="hover"
                colors="primary:#f5f5f5"
                colors="primary:#121331"
                state="hover-2"
                style="width:30px;height:30px">
            </lord-icon></a>
            {% for user in users %}

            <div>
                <h1>{{user.email}}</h1>
            </div>
    
            <ul id="menu_deroulant">
                <li><a href="{{ url('app_login') }}" class="arrow"><lord-icon
                    src="https://cdn.lordicon.com/jxwksgwv.json"
                    trigger="hover"
                    colors="primary:#f5f5f5"
                    state="hover-3"
                    target=".arrow"
                    style="width:25px;height:25px">
                </lord-icon>Se connecter</a></li>
                <li><a href="{{ url('profil') }}" class="page"><lord-icon
                    src="https://cdn.lordicon.com/ogkplaef.json"
                    trigger="hover"
                    colors="primary:#f5f5f5"
                    target=".page"
                    style="width:25px;height:25px">
                </lord-icon>Mon portfolio</a></li>
                <li><a href="{{ url('projets') }}" class="book"><lord-icon
                    src="https://cdn.lordicon.com/qvbrkejx.json"
                    trigger="morph"
                    colors="primary:#f5f5f5"
                    target=".book"
                    style="width:25px;height:25px">
                </lord-icon>Fil d'actualité</a></li>
            </ul>
        
            <div class="menu_burger" id="menu_burger"></div>
        </nav>
    </header>

            <main style="padding-left:5vw;">
                <section>
                    <article>
                        <div class="absolute">
                        <h4>Votre photo de profil :</h4>
                        <div id="f">
                            <div id="bg-img-fp">
                                <img src={{ asset(user.photo) }} alt="Photo de profil">
                            </div>
                            {# <div id="centerfile">
                                <input type="file" name="" id="file-input">
                                <label for="file-input" class="custom-file-button">Modifier une photo</label>
                            </div> #}
                        </div>
                            
                            {# <section id="section_visible">
                                <h4 style="width: 50%">Visibilité de mes travaux par les autres</h4>
                                <input type="radio" name="visibility_pf" id=""> 
                                <label for="ac">Visible</label>

                                <input type="radio" name="visibility_pf" id=""> 
                                <label for="ac">Non visible</label>
                            </section> #}
                        </article>
                    </div>
                    <article id='infos'>
                        <h4>Informations :</h4>
                        <p style="width:fit-content;padding:20px;">{{ user.description }}</p>
                        
                        <h4>Adresse email :</h4>
                        <h5>{{ user.email }}</h5>

                        <h4>Lieu d'étude :</h4>
                        <h5>{{ user.iut }}</h5>
                    </article>
        {% endfor %}
            <!-- <section>
                <input class="modify" type="submit" value="Modifier">
            </section> -->
        </section>

        <section>
            <h2>Projets</h2>
            {% if monProfil %}
                <a class="bouton" href="{{ url('addprojet') }}">Ajouter un projet</a>
            {% endif %}
            {% for projet in projets %}
                    {% if monProfil %}
                        <h3>
                            {{ projet.nom }} 
                            <a id="supprimer" class="bouton" href="{{ url('delete_projet', {'idProjet': projet.id, 'idUser': projet.idUser.id, 'idPage': id}) }}">Supprimer</a>
                            <a id="modifier" class="bouton" href="{{ url('edit_projet', {'idProjet': projet.id, 'idUser': projet.idUser.id, 'idPage': id}) }}">Modifier</a>
                        </h3>
                    {% endif %}
                    <h3>{{ projet.nom }}</h3>
                    <h4>Date de création du projet {{ projet.datepubli |date('d-m-Y') }}</h4>
                    <img class='imgProjet' src={{ asset(projet.image) }} alt="Image du projet">
                    <p>Tags : {{ tag }}</p>
                    <p>Description : {{ projet.description }}</p>

                    <h3>Apprentissages critiques concernés :</h3>
                    <ul>
                        {% for ac in acs %}
                            <li>{{ ac }}, compétence {{ ac.competence }}</li>   
                        {% endfor %}
                    </ul>

                    <h3>Commentaires</h3>
                        <ul>
                            {% set break = false %}
                            {% for note in notes %}
                                {% if break == false %}
                                    {% if note.idProjet.id != projet.id %}
                                        <p>Ce projet n'a reçu aucun commentaire</p>
                                        {% set break = true %}
                                    {% else %}
                                    
                                        <li>{{ note.idUser.email }} : {{note.commentaire}}, {{ note.note }}/20</li>
                                
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
            {% endfor %}
        </section>
    </main>
    <footer><span>Footer</span></footer>
    
</body>
</html>